.main {
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;
  background-position: left;  
}

.main_left {
  gap: 35px;
}

.main_left h1 {
  font-size: 50px;
  font-weight: 300;
}

.main_left h1 span {
  font-weight: 700;
}

.main_left h3 {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.main_left a {
  padding: 15px 28px;
  width: fit-content;
}

@media(max-width: 992px) {
  .main_left {
    gap: 20px;
    width: 100%;
  }

  .main h1 {
    font-size: 40px;
  }
  .main h3 {
    font-size: 18px;
  }
}
@media(max-width: 768px) {
  .main h1 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .navbar_down input {
    padding-right: 14px;
  }
}

@media(hover: hover) {
  .navbar_menu a:hover {
    color: #FF5F31;
  }

  .contact_form_flex button:hover {
    background: #c3401b;
  }

  .navbar_top_menu_li a:hover {
    color: #FF5F31;
  }

  .red_border:hover {
    background-color: #c3401b;
  }
}

/* Form */
.form {
  padding-top: 70px;
  padding-bottom: 70px;
}
.form_inner {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.form_form {
  flex-basis: 49%;
}
.form .form_checkbox {
  padding-top: 16px;
  border-top: 2px solid #00EB78;
  display: flex;
  gap: 10px;
  font-size: 13px;
  color: #fff;
}

.form .form_checkbox a {
  font-weight: 700;
  text-decoration: underline;
}

.contact_form {
  gap: 10px;
  justify-content: flex-start;
  flex-direction: column;
  background: transparent;
  align-items: flex-start;
  min-height: auto;
}

.form_info {
  flex-basis: 40%;
}
.form_info-headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}
.form_info-headline h3 {
  font-size: 25px;
  color: #858585;
}
.form_info-headline h3:first-child {
  color: #FF5F31;
}
.form_contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact_form h2 {
  color: #FF5F31;
  font-size: 25px;
  margin-bottom: 24px;
}

.contact_form_flex {
  gap: 16px;
  padding: 0;
}

.contact_form_flex > input,
.contact_form textarea {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  color: #fff;
  
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #858585;
  border: 1px solid #858585;
}
.contact_form textarea {
  border-radius: 8px;
  height: 120px;
  resize: none;
}
.contact_form_flex input::placeholder,
.contact_form textarea::placeholder {
  font-weight: light;
  color: rgba(255, 255, 255, .5);
}

.contact_form_flex input:focus,
.contact_form textarea:focus {
  border: 1px solid #fff;
}

.contact_form_flex button {
  padding: 16px 60px;
  border-radius: 7px;
}

@media(max-width: 992px) {
  .form_inner {
    flex-wrap: wrap;
    gap: 50px;
  }

  .form_form, .form_info {
    flex-basis: 100%;
  }
}

.contact_page_about_phone {
  gap: 16px;
}

.contact_page_about_phone h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.catalog_start {
  padding-top: 70px;
  padding-bottom: 50px;
}

.catalog_start_title {
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
}

.catalog_start_title span {
  font-weight: 700;
  color: #858585;
}

.catalog_start_text-bold {
  font-family: "Scada";
  font-weight: 700;
}

.kotalog {
  gap: 0;
}

.kotalog_flex {
  align-items: flex-start;
}

.kotalog_card {
  width: auto;
  height: auto;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: rgba(0, 0, 0, .1);
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 30%;
  padding: 0;
  text-align: left;
}

.kotalog_card img {
  width: 100%;
}

.kotalog_card h3 {
  padding: 16px 24px;
  color: #fff;
  font-size: 17px;
}

.see_all {
  padding: 15px 50px;
  margin-top: 35px;
}

@media(max-width: 992px) {
  .kotalog_card {
    flex-basis: 45%;
  }
}

@media(max-width: 768px) {
  .kotalog_card {
    flex-basis: 75%;
  }
}

@media(max-width: 575px) {
  .kotalog_card {
    flex-basis: 100%;
  }

  .form_contacts {
    text-align: center;
  }
}

/* Accordion */
.promishlenost {
  padding-top: 15px;
  padding-bottom: 15px;
}

.promishlenost_title {
  display: block;
}

.promishlenost_title h2 {
  max-width: 1000px;
  font-weight: 700;
}

.promishlenost_title span {
  color: #FF5F31;
}

.promishlenost_acc {
  margin-top: 0;
  flex-direction: column;
  gap: 50px;
}

.promishlenost_names {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.promishlenost_names button {
  width: 320px;
  text-align: center;
  font-family: "Sansation";
  font-weight: 300;
  font-size: 23px;
  color: #fff;
  background: transparent;
  border: 1px solid #858585;
  padding: 7px 18px;
}

.promishlenost_names button.active {
  font-weight: 700;
  background: #FF5F31;
  border-color: #FF5F31;
}

.promishlenost_descs div {
  display: none;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.promishlenost_descs div.active {
  display: flex;
}

.promishlenost_descs div span {
  color: #FF5F31;
}

@media(max-width: 575px) {
  .promishlenost_descs div {
    font-size: 14px;
  }
}

/* Advantages */
.primushestva_company {
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: flex-start;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../public/img/advantages/background.jpg), center / cover;
}

.primushestva_company_title {
  text-align: left;
}

.primushestva_company_cards {
  margin-top: 0;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.primushestva_company_cards_card {
  flex-basis: 30%;
  padding: 0;
  justify-content: flex-start;
}

.primushestva_company_cards_card_title h3 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 15px;
}

.primushestva_company_cards_card_title h4 {
  font-size: 17px;
  font-weight: 300;
}
@media(max-width: 768px) {
  .primushestva_company_cards_card {
    flex-basis: 100%;
  }
}

/* How do we work */
.how_weare_working {
  padding-top: 35px;
  padding-bottom: 35px;
}

.how_weare_working_title {
  font-weight: 300;
}

.how_weare_working_title span {
  font-weight: 700;
  color: #858585;
  text-transform: uppercase;
}

.how_weare_working_cards {
  margin-top: 0;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 50px;
}

.how_weare_working_cards_card {
  width: auto;
  flex-basis: 21%;
  gap: 10px;
}

.how_weare_working_cards_card_num span {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.how_weare_working_cards_card:nth-child(odd) .how_weare_working_cards_card_num span {
  color: #858585;
}

.how_weare_working_cards_card:nth-child(even) .how_weare_working_cards_card_num span {
  color: #FF5F31;
}

.how_weare_working_cards_card_text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.how_weare_working a.btn {
  border-radius: 7px;
  padding: 16px 32px;
  margin-top: 0;
}


@media(max-width: 992px) {
  .how_weare_working_cards_card {
    flex-basis: 47%;
  }
}

@media(max-width: 768px) {
  .how_weare_working_cards_card {
    flex-basis: 100%;
  }
}

.carriers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 27px;
  margin-bottom: 100px;
}

.carrier {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #fff;
  flex-basis: 23%;
  padding: 25px;
}

@media(max-width: 1200px) {
  .carrier {
    flex-basis: 30%;
  }
}

@media(max-width: 992px) {
  .carrier {
    flex-basis: 48%;
  }
}

@media(max-width: 768px) {
  .carrier {
    flex-basis: 75%;
  }
}

.goods-reverse {
  flex-direction: row-reverse;
}

@media(max-width: 992px) {
  .goods-reverse {
    flex-direction: column;
  }
}

.conditions {
  padding-top: 70px;
  padding-bottom: 100px;
}

.conditions_title {
  text-align: left;
  font-weight: 400;
  margin-bottom: 35px;
}

.conditions_inner {
  display: flex;
  gap: 75px;
}

.conditions_condition {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.conditions_condition h3 {
  font-size: 40px;
}

.conditions_condition.below h3 {
  color: #858585;
}

.conditions_condition.above h3 {
  color: #FF5F31;
}

.conditions_condition p {
  font-size: 20px;
  font-weight: 300;
}

@media(max-width: 768px) {
  .conditions_inner {
    flex-wrap: wrap;
  }

  .conditions_condition {
    flex-basis: 80%;
  }
}


.bg-form {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/public//img/intro-bg.jpg) center / cover;
  position: relative;
}

.bg-form div {
  position: relative;
  z-index: 2;
}

.bg-form::after {
  content: '';

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  filter: blur(20px);
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/public//img/intro-bg.jpg) center / cover;;

  z-index: 1;
}

.accordion-button {
  background: #484848;
  font-weight: 700;
}

.accordion-button:not(.collapsed) {
  background: #484848;
}

.accordion-body {
  background: #858585;
}

.brendabout_main_flex {
  padding-top: 70px;
  align-items: flex-start;
}

.brendabout_title p {
  font-weight: 300;
  font-size: 25px;
}

.brendabout_title {
  margin-top: 0;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.brendabout_cards {
  margin-top: 0;
  margin-bottom: 70px;
  padding: 0;
}

.filterkotalog_filter {
  width: 370px;
  background: #858585;
  padding: 35px 52px;
}

.filterkotalog_filter_title {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.filterkotalog_filter_title h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.btn.filter-btn {
  background: transparent;
}

.btn.filter-btn:hover {
  background: transparent;
}

.filterkotalog_filter_name h2 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
}

.accordion {
  gap: 15px;
}

.filterkotalog_filter_btn {
  display: block;
  margin-top: 50px; 
}

.filterkotalog_filter_btn button {
  padding: 10px 50px;
}

.filterkotalog_cards {
  padding-top: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}

.filterkotalog_cards >a {
  flex-basis: 30%;
  display: block; 
}

@media(max-width: 1024px) {
  .filterkotalog_cards >a {
    flex-basis: 40%;
  }
}

@media(max-width: 575px) {
  .filterkotalog_cards >a {
    flex-basis: 75%;
  }
}

.filterkotalog_card {
  width: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.filterkotalog_card_title {
  background: rgba(0, 0, 0, 0.1);
}

.filterkotalog_card:hover .filterkotalog_card_title {
  background: rgba(0, 0, 0, 0.1);
}

.filterkotalog_card_img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
} 

.filterkotalog_card_title h2 {
  font-weight: 300;
  font-size: 15px;
}

.filterkotalog_card_title img {
  align-self: flex-end;
  margin: 0;
}

.filterkotalog_card_title {
  padding: 0 15px 15px 0;
}

.filter-btn.btn-secondary::after {
  padding-left: 30px;
}

.activa_nav {
  background: #FF5F31;
}

.filterkotalog_button_fiter button {
  background: #FF5F31;
  width: fit-content;
  padding-left: 80px;
  padding-right: 80px;
}
